[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git

[submodule "themes/cocoa"]
	path = themes/cocoa
    url = https://github.com/nishanths/cocoa-hugo-theme.git

[submodule "themes/hugo-theme-blueberry-detox"]
	path = themes/hugo-theme-blueberry-detox
    url = https://github.com/allnightgrocery/hugo-theme-blueberry-detox.git

[submodule "themes/kiss"]
	path = themes/kiss
    url = https://github.com/ribice/kiss.git

[submodule "themes/nixon"]
	path = themes/nixon
    url = https://github.com/mdhender/nixon.git
